In [ ]:
import pandas as pd
import numpy as np

df=pd.read_csv('day1.csv')

# df['ID']=pd.Series(range(1,len(df)+1))
# df = df.reset_index(drop=True)
# df
# df['ID']=range(1,len(df)+1)
df['ID']=range(1,len(df)+1)
df['Age']=df['Age'].apply(lambda x: df['Age'].mean() if x<0 or pd.isnull(x) else x)
df['Salary']=df['Salary'].fillna(df['Salary'].interpolate())
newdf=df.dropna(subset=['Name'])
newdf['Joining_Date']=pd.to_datetime(newdf['Joining_Date'],errors='coerce')


newdf["Gender"] = newdf["Gender"].replace({
    "M": "Male",
    "F": "Female",
    None: "Unknown",
    "nan": "Unknown",
    "NaN": "Unknown"
})
newdf["Joining_Date"]=newdf["Joining_Date"].fillna(pd.to_datetime('2020-01-01'))
newdf.to_csv('final set1.csv',index=False)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_13264\3305376837.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf['Joining_Date']=pd.to_datetime(newdf['Joining_Date'],errors='coerce')
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_13264\3305376837.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf["Gender"] = newdf["Gender"].replace({
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_13264\3305376837.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf["Joining_Date"]=newdf["Joining_Date"].fillna(pd.to_datetime('2020-01-01'))

   ID     Name   Age   Gender   Salary Joining_Date Department
0   1    Alice  25.0   Female  50000.0   2020-01-10         HR
1   2      Bob  30.0     Male  60000.0   2020-01-01         IT
2   3      Bob  26.0     Male  60000.0   2021-02-15         IT
3   4  Charlie  35.0     Male  52500.0   2019-07-25    Finance
4   5    David  26.0   Female  45000.0   2020-01-01    Finance
6   7      Eve  22.0   Female  48000.0   2022-12-01        NaN
7   8    Frank  40.0     Male  62000.0   2018-05-10         IT
8   9    Grace  26.0   Female  55000.0   2021-11-30    Finance
9  10    Heidi  28.0  Unknown  58000.0   2020-06-20         HR