In [34]:
import pandas as pd
import numpy as np

ser=pd.Series([1,2,3,4,5,6,7])
sr=pd.DataFrame([
    [1,2,3],
    [4,'',6],
    [7,8,9]
], columns=['a','b','c'])
sr.replace(['',' ','unknown'],np.nan)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_6324\2639844542.py:10: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  sr.replace(['',' ','unknown'],np.nan)

   a    b  c
0  1  2.0  3
1  4  NaN  6
2  7  8.0  9