In [71]:
import pandas as pd
import numpy as np

df=pd.DataFrame([[1,2,3],[7,2,8],[4,1,6]],columns=['A','B','C'], index=['a','b','c'])
df

   A  B  C
a  1  2  3
b  7  2  8
c  4  1  6

In [59]:
df.head()

   A  B  C
a  1  2  3
b  7  2  8
c  4  2  6

In [60]:
df.tail(1)

   A  B  C
c  4  2  6

In [61]:
df.columns[1]

'B'

In [62]:
df.index[1]

'b'

In [63]:
df.index.tolist()[1]

'b'

In [64]:
df['B'].info()

<class 'pandas.core.series.Series'>
Index: 3 entries, a to c
Series name: B
Non-Null Count  Dtype
--------------  -----
3 non-null      int64
dtypes: int64(1)
memory usage: 48.0+ bytes

In [65]:
df['A'].describe()

count    3.0
mean     4.0
std      3.0
min      1.0
25%      2.5
50%      4.0
75%      5.5
max      7.0
Name: A, dtype: float64

In [74]:
df.nunique()

A    3
B    2
C    3
dtype: int64

In [73]:
df['B'].unique()

array([2, 1])

In [ ]:
rows,col=df.shape
if rows>=3:
    print('True')
else:
    print('False')

True