In [119]:
import pandas as pd

df=pd.read_csv("../warmup-data/coffee.csv")

df

          Day Coffee Type  Units Sold
0      Monday    Espresso          25
1      Monday       Latte          15
2     Tuesday    Espresso          30
3     Tuesday       Latte          20
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

In [120]:
df.loc[0:3,'Units Sold']

0    25
1    15
2    30
3    20
Name: Units Sold, dtype: int64

In [121]:
df.iloc[0:3,2]

0    25
1    15
2    30
Name: Units Sold, dtype: int64

In [122]:

ls=df.loc['Monday','Coffee Type']

KeyError: 'Monday'

In [ ]:
df[(df['Day']=='Monday') & (df['Coffee Type']=='Latte')]

           Day Coffee Type  Units Sold
Day
Monday  Monday       Latte          15

In [ ]:
df.loc['Monday': 'Wednesday','Coffee Type']=='Latte'

Day
Monday       False
Monday        True
Tuesday      False
Tuesday       True
Wednesday    False
Wednesday     True
Name: Coffee Type, dtype: bool

In [ ]:
df.sort_values(by=['Units Sold','Coffee Type'],ascending=[1,0])

          Day Coffee Type  Units Sold
1      Monday       Latte          15
3     Tuesday       Latte          20
0      Monday    Espresso          25
5   Wednesday       Latte          25
2     Tuesday    Espresso          30
7    Thursday       Latte          30
4   Wednesday    Espresso          35
9      Friday       Latte          35
11   Saturday       Latte          35
13     Sunday       Latte          35
6    Thursday    Espresso          40
8      Friday    Espresso          45
10   Saturday    Espresso          45
12     Sunday    Espresso          45